 <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<div align="center">
    <h2>Register Form</h2> <br />
    <form #registerForm="ngForm" (ngSubmit)="registerSubmit(registerForm.value)">
        <table align="center">
            <tbody>
                <tr>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="text" class="form-control" placeholder="Enter EmpName" name="empName" ngModel
                                required minlength="2" maxlength="30" />
                        </div>
                        <br />
                    </td>
                    <td>
                        <div
                            *ngIf="registerForm.controls['empName'].invalid && (registerForm.controls['empName'].dirty || registerForm.controls['empName'].touched)">
                            <p style="color: red;">EmpName is required</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
                            <input type="text" class="form-control" placeholder="Enter salary" name="salary" ngModel
                                required />
                        </div>
                        <br />
                    </td>
                    <td>
                        <div
                            *ngIf="registerForm.controls['salary'].invalid && (registerForm.controls['salary'].dirty || registerForm.controls['salary'].touched)">
                            <p style="color: red;">Salary is required</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <select class="form-control" name="gender" ngModel required>
                                <option value="" selected>Select Gender</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Others">Others</option>
                            </select>
                        </div>
                        <br />
                    </td>
                    <td>
                        <div
                            *ngIf="registerForm.controls['gender'].invalid && (registerForm.controls['gender'].dirty || registerForm.controls['gender'].touched)">
                            <p style="color: red;">Gender is required</p>
                        </div>
                    </td>
                </tr>

                <tr>
                   
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            <input type="date" class="form-control" name="doj" ngModel required />
                        </div>
                        <br />
                    </td>
                    <td>
                        <div
                            *ngIf="registerForm.controls['doj'].invalid && (registerForm.controls['doj'].dirty || registerForm.controls['doj'].touched)">
                            <p style="color: red;">Date is required</p>
                        </div>
                    </td>
                </tr>

                <tr>
                  
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
                            <select class="form-control" name="country" ngModel>
                                <option value="" selected>Select Country</option>
                                <option *ngFor="let country of countries" [value]="country.cca3">{{ country.name.common}}</option>
                            </select>
                        </div>
                        <br />
                    </td>
                    <td>
                        <div
                            *ngIf="registerForm.controls['country'].invalid && (registerForm.controls['country'].dirty || registerForm.controls['country'].touched)">
                            <p style="color: red;">Country is required</p>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></span>
                            <select class="form-control" name="department" ngModel>
                                <option value="" selected>Select Department</option>
                                <option value="{{dept.deptId}}" *ngFor="let dept of departments">{{dept.deptName}}
                                </option>
                            </select>
                        </div>
                        <br />
                    </td>
                    <td>
                        <div
                            *ngIf="registerForm.controls['department'].invalid && (registerForm.controls['department'].dirty || registerForm.controls['department'].touched)">
                            <p style="color: red;">Department is required</p>
                        </div>
                    </td>
                </tr>

                <tr>
                    
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                            <input type="text" class="form-control" name="mobile" placeholder="phoneNumber" ngModel
                                required pattern="[6-9][0-9]{9}" maxlength="10" />
                        </div>
                        <br />
                    </td>
                    <td>
                        <div
                            *ngIf="registerForm.controls['mobile'].invalid && (registerForm.controls['mobile'].dirty || registerForm.controls['mobile'].touched)">
                            <p style="color: red;">Mobile number is required</p>
                        </div>
                        <div *ngIf="registerForm.controls['mobile'].hasError('pattern')">
                            <p style="color: red;">Mobile number must start with 6, 7, 8, or 9 and have 10 digits</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input type="email" class="form-control" placeholder="Email-Id" name="emailId" ngModel
                                required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}" />

                        </div>
                        <br />
                    </td>

                    <td>

                        <div
                            *ngIf="registerForm.controls['emailId'].invalid && (registerForm.controls['emailId'].dirty || registerForm.controls['emailId'].touched)">
                            <p style="color: red;">Email is required</p>
                        </div>
                        <div *ngIf="registerForm.controls['emailId'].hasError('pattern')">
                            <p style="color: red;">Invalid email format</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input type="password" class="form-control" placeholder="password" name="password"
                                [(ngModel)]="password" required
                                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                                minlength="8" maxlength="8" />
                        </div>
                    </td>
                    <td>
                        <div *ngIf="registerForm.controls['password'].hasError('required') && registerForm.controls['password'].touched"
                            style="color: red;">Please Enter Password</div>
                        <div *ngIf="registerForm.controls['password'].hasError('pattern') && registerForm.controls['password'].touched"
                            style="color: red;">Password must consist of (8 characters, 1 uppercase, 1 lowercase, 1
                            digit, 1 special character)</div>
                    </td>
                </tr>
                <br />
                <tr>
                    <td>
                        <button type="submit" [disabled]="registerForm.invalid"
                            class="btn btn-primary">Register</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>  -->


<!-- <link rel="stylesheet" 
    href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" 
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" 
    crossorigin="anonymous">
<div class="container">
    <h2>Registration Form</h2>

    <form #registrationForm="ngForm" (ngSubmit)="registerSubmit(registrationForm.value)">

        <table align="center">
            <tr>
                <td>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" class="form-control" placeholder="Enter EmpName" name="empName" ngModel
                            required minlength="2" maxlength="30" />
                    </div>
                    <br />
                </td>
                <td>
                    <div
                        *ngIf="registrationForm.controls['empName'].invalid && (registrationForm.controls['empName'].dirty || registrationForm.controls['empName'].touched)">
                        <p style="color: red;">EmpName is required</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
                        <input type="text" class="form-control" placeholder="Enter salary" name="salary" ngModel
                            required />
                    </div>
                    <br />
                </td>
                <td>
                    <div
                        *ngIf="registrationForm.controls['salary'].invalid && (registrationForm.controls['salary'].dirty || registrationForm.controls['salary'].touched)">
                        <p style="color: red;">Salary is required</p>
                    </div>
                </td>
            <tr>
                <td>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <select class="form-control" name="gender" ngModel required>
                            <option value="" selected>Select Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Others">Others</option>
                        </select>
                    </div>
                    <br />
                </td>
                <td>
                    <div
                        *ngIf="registrationForm.controls['gender'].invalid && (registrationForm.controls['gender'].dirty || registrationForm.controls['gender'].touched)">
                        <p style="color: red;">Gender is required</p>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        <input type="date" class="form-control" name="doj" ngModel required />
                    </div>
                    <br />
                </td>
                <td>
                    <div
                        *ngIf="registrationForm.controls['doj'].invalid && (registrationForm.controls['doj'].dirty || registrationForm.controls['doj'].touched)">
                        <p style="color: red;">Date is required</p>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
                        <select class="form-control" name="country" ngModel>
                            <option value="" selected>Select Country</option>
                            <option *ngFor="let country of countries" [value]="country.cca3">{{ country.name.common}}</option>
                        </select>
                    </div>
                    <br />
                </td>
                <td>
                    <div
                        *ngIf="registrationForm.controls['country'].invalid && (registrationForm.controls['country'].dirty || registrationForm.controls['country'].touched)">
                        <p style="color: red;">Country is required</p>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></span>
                        <select class="form-control" name="department" ngModel>
                            <option value="" selected>Select Department</option>
                            <option value="{{dept.deptId}}" *ngFor="let dept of departments">{{dept.deptName}}
                            </option>
                        </select>
                    </div>
                    <br />
                </td>
                <td>
                    <div
                        *ngIf="registrationForm.controls['department'].invalid && (registrationForm.controls['department'].dirty || registrationForm.controls['department'].touched)">
                        <p style="color: red;">Department is required</p>
                    </div>
                </td>
            </tr>
            <tr>

            <tr>
                <td>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                        <input type="text" class="form-control" name="mobile" placeholder="phoneNumber" ngModel
                            required pattern="[6-9][0-9]{9}" maxlength="10" />
                    </div>
                    <br />
                </td>
                <td>
                    <div
                        *ngIf="registrationForm.controls['mobile'].invalid && (registrationForm.controls['mobile'].dirty || registrationForm.controls['mobile'].touched)">
                        <p style="color: red;">Mobile number is required</p>
                    </div>
                    <div *ngIf="registrationForm.controls['mobile'].hasError('pattern')">
                        <p style="color: red;">Mobile number must start with 6, 7, 8, or 9 and have 10 digits</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input type="email" class="form-control" placeholder="Email-Id" name="emailId" ngModel
                            required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}" />

                    </div>
                    <br />
                </td>

                <td>

                    <div
                        *ngIf="registrationForm.controls['emailId'].invalid && (registrationForm.controls['emailId'].dirty || registrationForm.controls['emailId'].touched)">
                        <p style="color: red;">Email is required</p>
                    </div>
                    <div *ngIf="registrationForm.controls['emailId'].hasError('pattern')">
                        <p style="color: red;">Invalid email format</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" class="form-control" placeholder="password" name="password"
                            [(ngModel)]="password" required
                            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                            minlength="8" maxlength="8" />
                    </div>
                </td>
                <td>
                    <div *ngIf="registrationForm.controls['password'].hasError('required') && registrationForm.controls['password'].touched"
                        style="color: red;">Please Enter Password</div>
                    <div *ngIf="registrationForm.controls['password'].hasError('pattern') && registrationForm.controls['password'].touched"
                        style="color: red;">Password must consist of (8 characters, 1 uppercase, 1 lowercase, 1
                        digit, 1 special character)</div>
                </td>
    
            </tr>
    
            <tr>
                <br/>
                <td>
                    <button type="submit" class="btn btn-primary">Register</button>
                </td>
            </tr>
        </table>
    </form>
</div>  
 -->


<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

<div class="container">
    <h2>Registration Form</h2>

    <form #registrationForm="ngForm" (ngSubmit)="registerSubmit(registrationForm.value)" novalidate>

        <table align="center">
            <tr>
                
                <td>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text" class="form-control" placeholder="Enter EmpName" name="empName" #empName="ngModel" ngModel required minlength="2" maxlength="30"/>
                </div>
                <br/>
            </td>
            </tr>
            <tr>
                
                <td>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
                        <input type="text" class="form-control" placeholder= "Enter Salary" name="salary" #salary="ngModel" ngModel required/>
                    </div>
                    <br/>
                </td>
            </tr>
            <tr>
                
                <td>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <select class="form-control" placeholder="Select Gender" name="gender" #gender="ngModel" ngModel required>
                            <option value="" disabled selected>Select Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Others">Others</option>
                        </select>
                    </div>
                    <br/>
                </td>  
            </tr>

            <tr>
                
                <td>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        <input type="date" class="form-control" name="doj" #doj="ngModel" ngModel required/>
                    </div>
                    <br/>
                </td>
            </tr>

            <tr>
                
                <td>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
                        <select class="form-control"name="country" ngModel >
                            <option value="" selected>Select Country</option>
                            <option value="{{country.cca3}}" *ngFor="let country of countries">{{country.name.common}}</option>    
                        </select>
                    </div>
                    <br/>
                </td>    
            </tr>
            <tr>
                
                <td>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                        <input type="text" class="form-control" placeholder="mobileNumber"  name="mobileNumber" #mobileNumber="ngModel" ngModel required
                        pattern="^\+[0-9]{1,3}[0-9]{6,14}$" minlength="13" maxlength="13" />
                    <div *ngIf="registrationForm.controls['mobileNumber'].hasError('required') && registrationForm.controls['mobileNumber'].touched" style="color: red;">Please Enter Mobile Number</div>
                    <div *ngIf="registrationForm.controls['mobileNumber'].hasError('pattern') && registrationForm.controls['mobileNumber'].touched" style="color: red;">Please Enter a Valid Phone Number</div>
                    </div>
                    <br/>
                </td>
            </tr>
            <tr>
    
                <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <td> <input type="text" name="emailId" ngModel required
                    pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" minlength="2" maxlength="30"/>
                <div *ngIf="registrationForm.controls['emailId'].hasError('required') && registrationForm.controls['emailId'].touched" style="color: red;">Please Enter Email-Id</div>
                <div *ngIf="registrationForm.controls['emailId'].hasError('pattern') && registrationForm.controls['emailId'].touched" style="color: red;">Please Enter a Valid Email-Id</div>
            </td>
        </div>
            </tr>
            <tr>
                <td>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" class="form-control" placeholder="password" name="password"
                            [(ngModel)]="password" required
                            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                            minlength="8" maxlength="8" />
                    </div>
                </td>
                <td>
                    <div *ngIf="registrationForm.controls['password'].hasError('required') && registrationForm.controls['password'].touched"
                        style="color: red;">Please Enter Password</div>
                    <div *ngIf="registrationForm.controls['password'].hasError('pattern') && registrationForm.controls['password'].touched"
                        style="color: red;">Password must consist of (8 characters, 1 uppercase, 1 lowercase, 1
                        digit, 1 special character)</div>
                </td>
    
            </tr>

            <tr>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" class="form-control" placeholder="Confirm Password" name="confirmPassword"
                        [(ngModel)]="confirmPassword" required 
                        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                        minlength="8" maxlength="8"/>
                    <div *ngIf="registrationForm.controls['confirmPassword'].hasError('required') && registrationForm.controls['confirmPassword'].touched"
                        style="color: red;">Please Confirm Password</div>
                    <div *ngIf="confirmPassword !== password && registrationForm.controls['confirmPassword'].touched"
                        style="color: red;">Passwords do not match</div>
                </div>
            </tr>

            <tr>
               
                <td>
                    <select name="department" ngModel >
                        <option value="" selected>Select Department</option>
                        <option value="{{department.deptId}}" *ngFor="let department of departments">{{department.deptName}}</option>
                    </select>
                </td>
                
            </tr>

            <tr>
                <td>
                  <re-captcha [(ngModel)]="captchaResponse" siteKey="6LcSi2gpAAAAAByTqDpsZs7Ct1D7z7kvcVOLPt3h"></re-captcha>
                </td>
              </tr>
            <br />
            <tr>

            <tr>
                <td></td>
                <td>
                    <button type="submit" class="btn btn-primary">Register</button>
                </td>
            </tr>
        </table>
    </form>

    <div>
        <div *ngIf="registrationForm.controls['empName'].errors?.['required'] && registrationForm.controls['empName'].touched" style="color: red;">Please Enter Employee Name</div>
        <div *ngIf="registrationForm.controls['salary'].errors?.['required'] && registrationForm.controls['salary'].touched" style="color: red;">Please Enter Salary</div>
        <div *ngIf="registrationForm.controls['gender'].errors?.['required'] && registrationForm.controls['gender'].touched" style="color: red;">Please Select Gender</div>
        <div *ngIf="registrationForm.controls['doj'].errors?.['required'] && registrationForm.controls['doj'].touched" style="color: red;">Please Select DateOfJoin</div>
        <div *ngIf="registrationForm.controls['country'].errors?.['required'] && registrationForm.controls['country'].touched" style="color: red;">Please Select Country</div>

        <div *ngIf="registrationForm.controls['empName'].errors?.['minlength'] && registrationForm.controls['empName'].touched" style="color: red;">Please Enter Atleast 2 Characters for Employee Name</div>
        
    </div>
</div>












<!-- <head>
    <link rel="stylesheet" 
    href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" 
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" 
    crossorigin="anonymous">
</head>
<div class="container">
    <h2>Registration Form</h2>

    <form #registrationForm="ngForm" (ngSubmit)="registerSubmit()" novalidate>

        <table align="center">
            <tr>
                <td>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" class="form-control" placeholder="Enter EmpName" name="empName" #empName="ngModel" ngModel required minlength="2" maxlength="30"/>
                    </div>
                    <br/>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
                        <input type="text" class="form-control" placeholder= "Enter Salary" name="salary" #salary="ngModel" ngModel required/>
                    </div>
                    <br/>
                </td>
                
            </tr>
            <tr>
                <td>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <select class="form-control" placeholder="Select Gender" name="gender" #gender="ngModel" ngModel required>
                            <option value="" disabled selected>Select Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Others">Others</option>
                        </select>
                    </div>
                    <br/>
                </td>    
            </tr>

            <tr>
                <td>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        <input type="date" class="form-control" name="doj" #doj="ngModel" ngModel required/>
                    </div>
                    <br/>
                </td>
             
            </tr>
            <tr>
                <td>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
                        <select class="form-control"name="country" ngModel >
                            <option value="" selected>Select Country</option>
                            <option value="{{country.cca3}}" *ngFor="let country of countries">{{country.name.common}}</option>    
                        </select>
                    </div>
                    <br/>
                </td>    
            </tr>
            <tr>
                <td>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                        <input type="text" class="form-control" placeholder="phoneNumber"  name="phoneNumber" #phoneNumber="ngModel" ngModel required
                        pattern="^[6-9]\d{9}$" minlength="10" maxlength="10" />
                    <div *ngIf="registrationForm.controls['phoneNumber'].hasError('required') && registrationForm.controls['phoneNumber'].touched" style="color: red;">Please Enter Phone Number</div>
                    <div *ngIf="registrationForm.controls['phoneNumber'].hasError('pattern') && registrationForm.controls['phoneNumber'].touched" style="color: red;">Please Enter a Valid Phone Number</div>
                    </div>
                    <br/>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input type="text" class="form-control" placeholder="Enter EmailId" name="emailId" #emailId="ngModel" ngModel required
                        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" minlength="2" maxlength="30"/>
                    <div *ngIf="registrationForm.controls['emailId'].hasError('required') && registrationForm.controls['emailId'].touched" style="color: red;">Please Enter Email-Id</div>
                    <div *ngIf="registrationForm.controls['emailId'].hasError('pattern') && registrationForm.controls['emailId'].touched" style="color: red;">Please Enter a Valid Email-Id</div>
                    </div>
                    <br/>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" class="form-control" placeholder="Enter Password" name="password" #password="ngModel" ngModel required pattern="^(?=.[a-z])(?=.[A-Z])(?=.\d)(?=.[@$!%?&])[A-Za-z\d@$!%?&]{8,}$" minlength="8" maxlength="8" />
                        <div *ngIf="registrationForm.controls['password'].hasError('required') && registrationForm.controls['password'].touched" style="color: red;">Please Enter Password</div>
                        <div *ngIf="registrationForm.controls['password'].hasError('pattern') && registrationForm.controls['password'].touched" style="color: red;">Please Enter a Valid Password (8 characters, 1 uppercase, 1 lowercase, 1 digit, 1 special character)</div>
                    </div>
                </td>      
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit" class="btn btn-primary">Register</button>
                </td>
            </tr>
        </table>
    </form>

    <div>
        <div *ngIf="registrationForm.controls['empName'].errors?.['required'] && registrationForm.controls['empName'].touched" style="color: red;">Please Enter Employee Name</div>
        <div *ngIf="registrationForm.controls['salary'].errors?.['required'] && registrationForm.controls['salary'].touched" style="color: red;">Please Enter Salary</div>
        <div *ngIf="registrationForm.controls['gender'].errors?.['required'] && registrationForm.controls['gender'].touched" style="color: red;">Please Select Gender</div>
        <div *ngIf="registrationForm.controls['doj'].errors?.['required'] && registrationForm.controls['doj'].touched" style="color: red;">Please Enter Date of Join</div>
        <div *ngIf="registrationForm.controls['country'].errors?.['required'] && registrationForm.controls['country'].touched" style="color: red;">Please Select Country</div>
     
        <div *ngIf="registrationForm.controls['empName'].errors?.['minlength'] && registrationForm.controls['empName'].touched" style="color: red;">Please Enter Atleast 2 Characters for Employee Name</div>
        
    </div>
</div> -->




