<div class="container">
  <div *ngIf="selectedProduct">
      <h2>{{ selectedProduct.pName }}</h2>
      <br/><br/>
      <div class="row">
          <div class="col-md-12">
              <img style='float:left;width:300px;height:300px; margin-right:10px;' src="{{ selectedProduct.imgsrc }}" alt="{{ selectedProduct.pName }}" /> <br/><br/>
              <br/><br/><p><b>Price:</b> {{ selectedProduct.price | currency:'USD':'symbol':'1.2-2' }}</p>
              <br/><br/><p><b>Description:</b> {{ selectedProduct.description }}</p>
          </div>
          <div >
              <p align="right"><button (click)="addToCart(selectedProduct)" class="btn btn-primary">AddToCart</button> </p>
            </div>
       </div>
    
    <div *ngIf="!selectedProduct">
      <p>No product details available.</p>
    </div>
    <br/><br/><br/>
    
  </div>